@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$default-font-family: 'Inter', sans-serif;
$default-font-size: 16px;

h1, h2, h3, h4, h5, h6 {
  margin: $default-header-margin;
  padding: $default-header-padding;
}